@model MVC_NHOM8.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DanhMucs.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMucs.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DVT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SanPhamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
